<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<style>
    th, td{
        text-align: center;
        padding: 2rem;
    }
</style>

<body>
    <main id="main" style="margin: 1rem; font-size: 20px;">
        <header>
            <p style="text-align: center; font-size: 3rem;">
                <a href="{% url 'profile' %}">
                    My Profile
                </a>
            </p>
        </header>
        <table border="2">
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Father's Name</th>
                <th>Mother's Name</th>
                <th>Date of Birth</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Mobile</th>
                <th>Image</th>
            </thead>
            {% for data in datas %}
            <tbody>
                <td>{{ data.user.first_name }}</td>
                <td>{{ data.user.last_name }}</td>
                <td>{{ data.user.email }}</td>
                <td>{{ data.fathername }}</td>
                <td>{{ data.mothername }}</td>
                <td>{{ data.dob }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.gender }}</td>
                <td>{{ data.mobile }}</td>
                <td><img src="{{ data.image.url }}" width="200px" height="200px"></td>
            </tbody>
            {% endfor %}
        </table>
    </main>
</body>
</html>