<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
</head>

<body>
    <main id="main" style="margin: 5rem; padding: 5rem; font-size: 4rem">
        <a href="{% url 'login_temp' %}">Login</a> <br />
        <a href="{% url 'register_temp' %}">Register</a> <br />
        <a href="{% url 'logout_user' %}">Logout</a> <br />
        <a href="{% url 'admin_panel' %}">Admin Panel</a> <br />
        <a href="{% url 'profile' %}">Porfile</a> <br />
    </main>
</body>

</html>